.product-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 2rem;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 38px;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 23px;
    }
    .product-container{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin-right: 0;
    }
}