.products{
    border: 1px solid lightgray;
    /* padding: 10px; */
    border-radius: 15px;
    position: relative;
}

.products:hover img{
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}
.button{
    width: 100%;
    border: none;
    border-top: 1px solid rgba(230, 228, 228, 0.657);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px){
    .products:hover img{
        transform: scale(1);
        
    }
    .products{
        border: 1px solid lightgray;
        /* padding: 10px; */
        border-radius: 15px;
        position: relative;
        display: block;
    }
    
}